#orderby {
	margin: 0 auto;
	width: 180px;
}

.orderby {
	cursor: pointer;
}

@media (max-width: 919px) {
	.brb {
		text-align: center;
	}
}

@media (max-width: 767px) {
	.home .us_wrapper.tal {
		text-align: center;
	}	
}